.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark-color);
    color: #fff;
    width: 100%;
    height: 10vh;
    padding: 0 2rem;
}

.navbar a {
    color: var(--light-color);
    margin: 0 0.8rem;
}

.navbar li:hover {
    background-color: var(--primary-color);
}

.navbar ul {
    display: flex;
}

.navbar li{
    padding: 1px;
}