@model WestcoastEducation.Web.ViewModels.Account.RegisterUserViewModel

@{
    ViewBag.PageTitle = "Registrera konto";
}

<article class="page-centered">
    @* P.S. Behöver ej skriva ut asp-controller då denna kommer från AccountController och ska tillbaka dit. Men jag gör
        det ändå för att förtydliga! *@
    <form asp-action="register" asp-controller="account">
        <div class="card">
            <h1 class="card-header">Registrera dig!</h1>
            <div class="card-body">
                <div class="form-control">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" />
                    <span class="error" asp-validation-for="Email"></span>
                </div>
                <div class="form-control">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" />
                    <span class="error" asp-validation-for="Password"></span>
                </div>
                <div class="form-control">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" />
                    <span class="error" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div class="card-footer">
                <button type="Submit" class="btn-submit">
                    <i class="fa-solid fa-user-plus"></i>
                    Registrera
                </button>
                <a asp-action="Index" asp-controller="Home" class="btn-cancel">
                    <i class="fa-solid fa-arrow-left"></i>
                    Avbryt
                </a>
            </div>
            <div class="error-message error" asp-validation-summary="All"></div>
        </div>
    </form>

</article>