@section styles {
<link rel="stylesheet" href="~/css/landing-page.css">
}

<div class="landing">
    <div class="content">
        <h1>Välkommen till Westcoast Education!</h1>
        <div class="content-text">
            <p>
                Vårt koncept har och är fortfarande att tillhandahålla klassrums utbildningar där elever
                och lärare möts.
            </p>
            <p>
                Vi erbjuder även distansutbildning där elever kan närvara via länk till klassrum där en
                lärare genomför lektionen.
            </p>
            <p>
                Vi kommer nu också att göra en stor satsning på att kunna tillhandahålla
                utbildningar, seminarier och webinarier "OnDemand".
            </p>
        </div>
        <div class="btn-front-page">
            @Html.ActionLink("Se våra utbildningar", "Index", "Classroom")
        </div>
    </div>
</div>
<div class="background-image">

</div>
